html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $text;
  overflow-x: hidden; /* Адаптив контент будет плавно сужаться */
  min-width: 320px; /* Адаптив с какой ширины ему плавно сужаться */
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.top__container {
  max-width: 1700px;
  margin: 0 auto;
}