@import "vars";
@import "global";
@import "fonts";

.header {
  padding: 35px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo__link {
    width: 190px;
  }
}

.menu {
  &-list {
    display: flex;
    &__item + &__item {
      margin-left: 35px;
    }
    &__item-link {
      @extend %roboto-400;
      padding: 0 2px;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: all 0.5s;
      color: $title;
      &:hover {
        text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
        color: $main;
        border-bottom: 2px solid $main;
      }
    }
    &__item-link--active {
      text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
      color: $main;
      border-bottom: 2px solid $main;
    }
  }
}

.user-nav {
  &__link {
    position: relative;
    &-span {
      position: absolute;
      top: -10px;
      right: -12px;
      width: 20px;
      height: 20px;
      background: $main;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
      line-height: 20px;
      text-align: center;
    }
  }
  &__link + &__link {
    margin-left: 15px;
  }
}

.slider-top {
  padding-top: 30px;
  background-color: $bg;
  background-image: url("../images/slider/slider-top_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &__item {
    position: relative;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    &-title {
      margin-bottom: 15px;
      max-width: 600px;
      @extend %roboto-700;
      font-size: 58px;
      line-height: 68px;
      color: $title;
      & span {
        display: block;
      }
    }
    &-text {
      margin-bottom: 30px;
      max-width: 470px;
    }
    &-btn {
      @extend %btn;
    }
    &-img {
      width: 320px;
    }
  }
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    button {
      position: relative;
      padding: 0;
      font-size: 0;
      background: transparent;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $text;
      }
    }
    li.slick-active {
      button {
        border: 2px solid $main;
      }
    }
  }
}

.products {
  padding: 100px 0;
  &__title {
    @extend %title1;
    margin-bottom: 25px;
    text-align: center;
  }
  &__text {
    max-width: 580px;
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  &__inner {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  &-item {
    max-width: 370px;
    text-align: center;
    position: relative;
    &:hover {
      .products-item__links {
        transform: translateY(0);
        transition: all 0.5s;
      }
    }
    &--sale {
      .products-item__box::before {
        content: "sale";
        @extend %btn;
        padding: 5px 20px;
        position: absolute;
        top: 30px;
        left: 20px;
      }
    }
    &__box {
      position: relative;
      margin-bottom: 30px;
      overflow: hidden;
      transition: all 0.5s;
    }
    &__img {
      object-fit: cover;
    }
    &__links {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      bottom: 50px;
      width: 210px;
      height: 50px;
      margin: 0 auto;
      background: #fff;
      text-align: center;
      border-radius: 25px;
      transform: translateY(300%);
      transition: all 0.5s;
    }
    &__link {
      display: inherit;
      border-right: 1px solid #ececec;
      padding: 5px 20px 5px 0;
      &-noline {
        border-right: none;
        padding: 0;
      }
    }
    &__link:hover {
      path {
        fill: $main;
        transition: all 0.5s;
      }
    }
    &__title {
      @extend %title2;
      margin: 15px 0 10px 0;
    }
    &__price {
      display: flex;
      justify-content: center;
      &-new {
        @extend %roboto-700;
        margin-right: 20px;
        color: $title;
      }
      &-old {
        opacity: 0.5;
        @extend %roboto-400;
        text-decoration: line-through;
      }
    }
    .jq-ry-container {
      margin: 0 auto;
    }
  }
  &__more {
    @extend %btn2;
    display: block;
    width: 170px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
  &-item__info-bottom {
    display: none;
  }
}

.video-fashion {
  background-color: $bg;
  background-image: url("../images/icon/video-fashion-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    width: 100%;
    height: 480px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__info {
    padding-top: 80px;
    max-width: 570px;
    &-subtitle {
      font-size: 22px;
      color: $main;
      margin-bottom: 25px;
    }
    &-title {
      @extend %title1;
      margin-bottom: 30px;
    }
    &-text {
      margin-bottom: 45px;
    }
    &-btn {
      @extend %btn;
    }
  }
}

.info {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 70px 0 90px 0;
  background: url("../images/info-bg-left.png");
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background: url("../images/info-bg-right.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
  .features {
    margin-bottom: 70px;
    &__inner {
      position: relative;
      padding: 50px 0 30px 0;
      display: flex;
      justify-content: space-between;
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
      }
      &::before {
        background: url("../images/icon/featur-bg-left.svg");
        width: 120px;
        height: 121px;
        top: 10px;
        left: -40px;
      }
      &::after {
        background: url("../images/icon/featur-bg-right.svg");
        width: 65px;
        height: 52px;
        right: 25px;
        right: -20px;
        bottom: 10px;
      }
    }
    &__item {
      padding: 65px 35px;
      background: #fff;
      width: 300px;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      &-img {
        margin-bottom: 20px;
      }
      &-title {
        @extend %title2;
        margin-bottom: 10px;
      }
    }
  }

  .categories {
    &__title {
      margin-bottom: 15px;
      @extend %title1;
      text-align: center;
    }
    &__text {
      max-width: 530px;
      margin: 0 auto 40px auto;
      text-align: center;
    }
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
      min-height: 635px;
    }
    &-item {
      background-repeat: no-repeat;
      transition: all 0.5s;
      &:nth-child(1) {
        grid-row: span 2;
        .categories-item__subtitle,
        .categories-item__link:hover {
          color: #d200b9;
          text-shadow: 0 0 0.8px #d200b9, 0 0 0.8px #d200b9;
        }
      }
      &:nth-child(2) {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .categories-item__subtitle,
        .categories-item__link:hover {
          color: #00953b;
          text-shadow: 0 0 0.8px #00953b, 0 0 0.8px #00953b;
        }
      }
      &:nth-child(3) {
        .categories-item__subtitle,
        .categories-item__link:hover {
          color: #b15b00;
          text-shadow: 0 0 0.8px #b15b00, 0 0 0.8px #b15b00;
        }
      }
      &:nth-child(4) {
        .categories-item__subtitle,
        .categories-item__link:hover {
          color: #cf6464;
          text-shadow: 0 0 0.8px #cf6464, 0 0 0.8px #cf6464;
        }
      }
    }
    &-item {
      padding: 35px;
      &__subtitle {
        margin-bottom: 5px;
      }
      &__title {
        margin-bottom: 5px;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 26px;
        color: $title;
      }
      &__link {
        @extend %roboto-400;
        text-transform: uppercase;
        color: $title;
        transition: all 0.3s;
      }
    }
  }
}

.promo {
  background: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  margin-bottom: 30px;
  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
    text-align: center;
  }
  &__subtitle {
    color: $main;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
  }
  &__title {
    @extend %title1;
    margin-bottom: 50px;
  }
  &-timer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &-timer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #fff;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    border-radius: 50%;
    &-num {
      @extend %title1;
      margin: 10px 0 5px 0;
    }
  }
  &__now {
    @extend %btn2;
  }
}

.partners {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.blog {
  padding: 60px 0;
  background: url("../images/blog-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &__title {
    @extend %title1;
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    max-width: 580px;
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      right: -18px;
      top: -25px;
      background: url("../images/icon/blog-bg.svg");
      width: 126px;
      height: 53px;
    }
  }
  &-item {
    max-width: 370px;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    &:hover {
      border-color: transparent;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      .blog-item__more {
        color: $main;
        text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
      }
      .blog-item__more {
        &::after {
          background: url("../images/icon/arrow-right2.svg");
        }
      }
    }
    &__inner {
      padding: 20px 30px;
    }
    &__info {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      &-author,
      &-date {
        position: relative;
        padding-left: 30px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 4px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
        }
      }
      &-author::before {
        background: url("../images/icon/user2.svg");
      }
      &-date::before {
        background: url("../images/icon/clock.svg");
      }
    }
    &__title {
      @extend %title2;
      margin-bottom: 10px;
    }
    &__more {
      position: relative;
      padding-right: 15px;
      transition: all 0.3s;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        background: url("../images/icon/arrow-right.svg");
        background-repeat: no-repeat;
        width: 10px;
        top: 10px;
        height: 8px;
        transition: all 0.3s;
      }
    }
  }
}

.footer {
  padding: 70px 0 30px 0;
  background: $bg;
  color: $text;
  &-top {
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    &__item-contacts {
      width: 240px;
    }
    &__item-nav {
      width: 150px;
    }
    &__item-form {
      width: 470px;
    }
    &__logo {
      width: 160px;
      margin-bottom: 15px;
    }
    &__adress {
      line-height: 35px;
    }
    &__adress,
    &__email,
    &__phone {
      margin-bottom: 10px;
    }
    &__social {
      margin-top: 20px;
      padding-right: 70px;
      display: flex;
      justify-content: space-between;
      &-link {
        display: flex;
        fill: $text;
        transition: all 0.5s;
        &:hover {
          fill: $main;
        }
      }
    }
    .footer-top__social-link--active {
      fill: $main;
    }
    &__title {
      margin-bottom: 13px;
      @extend %roboto-700;
      font-size: 22px;
      line-height: 36px;
      color: $title;
    }
    &__item {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__form-input {
      width: 290px;
      padding: 15px 10px;
      margin-right: 5px;
      background: #fff;
      color: $text;
      border: none;
      outline: none;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
      &::placeholder {
        color: $text;
      }
    }
    &__form-btn {
      @extend %btn;
      padding: 14px 25px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    &__accept {
      display: flex;
      &-mastercard {
        fill: $accent1;
      }
      &-visa {
        fill: $accent2;
      }
      &-paypal {
        fill: $main;
      }
      &-mastercard,
      &-visa,
      &-paypal {
        margin-left: 20px;
        display: flex;
      }
    }
  }
}

.main {
  .top {
    &__bg {
      padding: 120px 0 140px 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-align: center;
    }
    &__title {
      margin-bottom: 20px;
      @extend %title1;
      font-weight: 400;
    }
    .breadcrumbs {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      &::before {
        position: absolute;
        left: -5px;
        bottom: 7px;
        content: "";
        background: url("../images/icon/home-icon.svg");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
      }
      &__inner {
        display: flex;
      }
      &__item {
        position: relative;
        padding-right: 40px;
        &::after {
          position: absolute;
          content: "";
          background: url("../images/icon/angle-right.svg");
          background-repeat: no-repeat;
          width: 9px;
          height: 10px;
          right: 15px;
          top: 9px;
        }
        &:last-child {
          padding-right: 0;
          color: $main;
          text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .shop {
    padding: 50px 0;
    &__inner {
      display: flex;
    }
    &__filters {
      margin-right: 30px;
      width: 360px;
    }
  }

  .filter__item {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid $border;
  }

  .filter__title {
    margin-bottom: 20px;
    @extend %title2;
    text-transform: uppercase;
  }

  .filter-search {
    &__form {
      display: flex;
    }
    &__input {
      width: 250px;
      padding: 0 15px;
      height: 50px;
      background: $bg;
      border: none;
      outline: none;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: $main;
      border: none;
      cursor: pointer;
    }
  }

  .filter-price {
    &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__btn {
      @extend %btn;
      border: none;
      cursor: pointer;
    }
  }

  .irs--flat {
    margin-bottom: 20px;
  }
  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }
  .irs--flat .irs-line {
    top: 12px;
    height: 5px;
    background-color: $border;
  }
  .irs--flat .irs-bar {
    top: 12px;
    height: 5px;
    background-color: $main;
  }
  .irs--flat .irs-handle {
    top: -1px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
    background: #fff;
  }
  .irs--flat .irs-handle > i:first-child {
    display: none;
  }

  .filter-color {
    &__label {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-color__checkbox {
        background-image: url("../images/icon/check.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__checkbox {
      position: absolute;
      margin-left: -16px;
      margin-top: 6px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    &__checkbox--blue {
      background-color: #00aeef;
    }
    &__checkbox--red {
      background-color: #f52574;
    }
    &__checkbox--green {
      background-color: #24d4ac;
    }
    &__checkbox--orange {
      background-color: #ff7e00;
    }
    &__checkbox--black {
      background-color: #000;
    }
    &__checkbox--purple {
      background-color: #923899;
    }
  }

  .filter-size {
    &__label {
      display: block;
      padding-left: 35px;
      cursor: pointer;
      & + .filter-size__label {
        margin-top: 15px;
      }
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-size__checkbox {
        background-image: url("../images/icon/check-size.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-color: $main;
        & + .filter-size__text {
          color: $main;
          text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
        }
      }
    }
    &__checkbox {
      position: absolute;
      margin-left: -35px;
      margin-top: 1px;
      width: 20px;
      height: 20px;
      border: 2px solid $text;
      border-radius: 50%;
    }
  }

  .filter-category {
    &__label {
      cursor: pointer;
      &:last-child .filter-category__checkbox {
        margin-bottom: 0;
      }
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-category__checkbox {
        background-color: $main;
        color: #fff;
      }
    }
    &__checkbox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding: 10px 20px;
      background-color: $bg;
      color: #000;
    }
  }

  .filter-popular {
    &__label {
      display: inline-block;
      margin: 0 10px 10px 0;
      padding: 8px 0;
      cursor: pointer;
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-popular__checkbox {
        background-color: $main;
        border-color: transparent;
        color: #fff;
      }
    }
    &__checkbox {
      padding: 10px 15px;
      border: 1px solid $text;
    }
  }

  .shop-content {
    width: 100%;
    &__filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $border;
      padding: 15px 25px;
      margin-bottom: 30px;
    }
    &__filters-buttons {
      display: flex;
      align-items: center;
    }
    &__filters-btn {
      display: flex;
      margin-left: 10px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      &.shop-content__filters-btn--active {
        path {
          fill: $main;
        }
      }
    }
    &__filters-sort,
    &__filters-show {
      padding-right: 5px;
      border: none;
      outline: none;
      color: $text;
      cursor: pointer;
      text-align: right;
    }
    &__filters-sort {
      margin-right: 15px;
    }
    &__products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &.shop-content__products--list {
        flex-direction: column;
        .products-item {
          max-width: 100%;
          display: flex;
          border: 1px solid #ececec;
        }
        .products-item__links {
          bottom: 90px;
        }
        .products-item__box {
          max-width: 250px;
          margin-bottom: 0;
        }
        .products-item__info {
          padding: 20px 30px;
          text-align: left;
        }
        .products-item__info-top {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 10px;
        }
        .products-item__title {
          order: -1;
          width: 100%;
        }
        .products-item__price {
          order: -1;
          margin-right: 40px;
        }
        .products-item__rate {
          margin: 0;
        }
        .products-item__info-bottom {
          display: block;
        }
        .products-item__info-text {
          margin-bottom: 20px;
        }
        .products-item__info-btn {
          @extend %btn;
          background: $title;
          box-shadow: 0px 3px 20px -3px $title;
          text-transform: none;
          &.products-item__info-btn--add {
            background: $main;
            box-shadow: 0px 7px 20px 0px $main;
          }
        }
      }
      & .products-item {
        margin-bottom: 40px;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      @extend %quicksand-500;
      &-prev,
      &-next {
        position: relative;
        text-transform: uppercase;
      }
      &-prev {
        padding-left: 20px;
      }
      &-prev::before {
        position: absolute;
        content: "";
        left: 0;
        top: 8px;
        background: url("../images/icon/prev.svg");
        background-repeat: no-repeat;
        width: 7px;
        height: 13px;
      }
      &-next {
        padding-right: 20px;
      }
      &-next::after {
        position: absolute;
        content: "";
        right: 0;
        top: 8px;
        background: url("../images/icon/next.svg");
        background-repeat: no-repeat;
        width: 7px;
        height: 13px;
      }
      &-list {
        display: flex;
        margin: 0 30px;
        &__li-link--active {
          color: $main;
          text-shadow: 0 0 0.8px $main, 0 0 0.8px $main;
        }
      }
      .pagination-list__li + .pagination-list__li {
        margin-left: 15px;
      }
    }
  }

  .blog {
    &-left {
      width: 770px;
      &__content {
        border: 1px solid #e8e8e8;
        margin-bottom: 50px;
        transition: all 0.3s;
        &:hover {
          background: #f5f5f5;
        }
      }
      .blog-item__inner {
        padding: 30px 20px;
      }
      .blog-item__title {
        margin-bottom: 25px;
        & span {
          color: $main;
        }
      }
      .blog-item__info {
        justify-content: start;
        &-author {
          margin-right: 40px;
        }
      }
      .blog-item__text {
        margin-bottom: 20px;
      }
      .blog-item__more {
        &:hover {
          color: #bb99b7;
          text-shadow: 0 0 0.8px #bb99b7, 0 0 0.8px #bb99b7;
        }
      }
      .video-fashion__popup {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: none;
        height: 450px;
      }
      .slick-prev,
      .slick-next {
        position: absolute;
        top: 47%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-size: 0;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 7px 10px 2px rgba(70, 70, 70, 0.3);
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
      }
      .slick-prev {
        left: 30px;
        transition: all 0.3s;
        &:hover {
          background: $main;
          &::before {
            background: url("../images/icon/left-white.svg");
          }
        }
        &::before {
          position: absolute;
          content: "";
          top: 8px;
          right: 12px;
          background: url("../images/icon/left.svg");
          background-repeat: no-repeat;
          width: 19px;
          height: 26px;
        }
      }
      .slick-next {
        right: 30px;
        &:hover {
          background: $main;
          &::after {
            background: url("../images/icon/right-white.svg");
          }
        }
        &::after {
          position: absolute;
          content: "";
          top: 8px;
          left: 12px;
          background: url("../images/icon/right.svg");
          background-repeat: no-repeat;
          width: 19px;
          height: 26px;
        }
      }
    }

    &-right {
      width: 370px;
      &__user {
        padding: 30px 20px;
        margin-bottom: 40px;
        border: 1px solid #ececec;
        text-align: center;
        &-img {
          margin: 0 auto 30px auto;
        }
        &-name {
          @extend %roboto-700;
          color: $title;
        }
        &-skill {
          color: $main;
        }
        &-text {
          margin-top: 15px;
        }
        .footer-top__social {
          justify-content: center;
          padding-right: 0;
          &-item {
            margin: 0 10px;
          }
        }
      }

      .posts {
        padding: 30px 20px;
        border: 1px solid #ececec;
        margin-bottom: 40px;
        &__title {
          margin-bottom: 20px;
          @extend %title2;
          text-transform: uppercase;
        }
        &-item {
          display: flex;
          margin-bottom: 30px;
          padding-bottom: 15px;
          border-bottom: 1px solid #ececec;
          &__img {
            margin-right: 20px;
          }
          &__info-title {
            @extend %roboto-400;
            font-size: 18px;
            color: $title;
          }
          &__info-date {
            position: relative;
            padding-left: 25px;
            &::before {
              position: absolute;
              content: '';
              top: 5px;
              left: 0;
              background: url('../images/icon/calendar.svg');
              background-repeat: no-repeat;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

@import "media";
